<!-- Content Heading -->
<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<!-- Flash message -->
<%- messages() %>
<% var errors = errors || []; %>
<% if (Array.isArray(errors) && errors.length > 0) { %>
    <ul class="notice">
        <% 
        let showEmailError = false;
        errors.array().forEach(error => { 
            if (error.msg === 'A valid email is required.') {
                showEmailError = true;
            } 
        });

        if (showEmailError) { %>
            <li>A valid email is required.</li>
        <% } else {
            errors.array().forEach(error => { 
                if (error.msg !== 'Invalid value' && error.msg !== 'A valid email is required.') { %>
                    <li><%= error.msg %></li>
                <% }
            }); 
        } %>
    </ul>
<% } %>

<form id="loginForm" action="/account/login" method="post">
  <fieldset class="data-box">
    <label for="accountEmail">Email:</label>
      <input type="email" name="account_email" id="accountEmail" required value="<%= locals.account_email %>">
    <label for="account_password">Password:<br>
      <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
      <span id="pswdBtn">Show Password</span>
      <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
    </label>
  </fieldset>
  <p><button>Login</button></p>
 <p>No account?
        <button class="signup-button" onclick="location.href='/account/register'">Sign-up</button>
    </p>
</form>

<script src="/js/showPassword.js"></script>